@import './base.css';

#app {
  width: 100%;
  height: auto;
  font-weight: normal;
  padding: 16px;
}

a,
.green {
  text-decoration: none;
  color: var(--color-text);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover { 
    background-color: hsla(0, 0%, 30%, 0.2);
    border-radius: 16px;
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}
